# Impacts of Demographic Factors on Math Performance
#### UBC STAT 201 Project Proposal - Group 25

## Introduction

In this project, we investigate the impacts of several demographic factors on secondary school mathematics performance. In particular, we are interested in exploring differences in mean final grades across different demographic groups including factors like: sex, parent careers, parent education levels, and family size. (Maybe combining these groups ex: do male students with large families perform differently from female students with large families?)

Mention chosen location and scale parameters of interest (mean of G3, std dev of G3? not sure what we want to use for scale)

Should probably explicitly state population of interest: portuguese secondary school students? or all secondary school students?

There have been studies linking ... find some academic papers (at least 2 citations of relevant literature)

The data we are using was collected by Paulo Cortez and Alice Silva from secondary schools in Portugal. Their original paper, with detailed explanations of the sampling process can be found [here](https://www.researchgate.net/publication/228780408_Using_data_mining_to_predict_secondary_school_student_performance).

**Variables of Interest**
* G3: final grade in mathematics course, numeric [0, 20] (Portugal, France and several other European countries use the 20 point scale)
* famsize: family size, binary [<=3, >3]
* sex: student's sex, binary [female, male]
* Medu: mother's education level, factor with 4 levels [0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary, 4 - higher education]
* Fedu: father's education level, factor with 4 levels (same as Medu)
* Mjob: mother's job, factor with 5 levels [teacher, health care related, civil services, at home, other]
* Fjob: father's job, factor with 5 levels (same as Mjob)

## Preliminary Results

In [7]:
library(tidyverse)

In [8]:
students <- read.csv("https://raw.githubusercontent.com/aidanmeharg/STAT_201_Project/main/student-mat.csv", sep = ";")

head(students)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3       6        5  6  6
2 3        3     1    1    3       4        5  5  6
3 3        2     2    3    3      10        7  8 10
4 2        2     1    1    5       2       15 14 15
5 3        2     1    2    5       4        6 10 10
6 4        2     1    2    5      10       15 15 15

In [11]:
# check for missing values
students %>%
    summarize(num_rows_na = sum(rowSums(is.na(.)) > 0))

  num_rows_na
1 0

There are no missing values in the dataset.

## Methods

HELLO

## References